name: Build Extension

on:
  push:
    branches: [ "master" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build extension
      run: npm run build

    # Zip the dist folder for the release
    - name: Zip extension
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        cd dist
        zip -r ../asmr-download-manager-extension.zip .
        cd ..

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: asmr-download-manager-dist
        path: dist/
        if-no-files-found: error

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: asmr-download-manager-extension.zip
